<center>
    <img src="https://i.ibb.co/wQg0qzq/Banner.png" width="900" alt="KCode Banner"  />
</center>
<a href="https://www.linkedin.com/in/kauebr/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="30" ></a> <a href="mailto: kauemandarino@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" width="30" ></a><a href="
https://api.whatsapp.com/send?phone=5541991835800&text=Oi"> <img src="https://imagepng.org/wp-content/uploads/2017/08/whatsapp-icone-1.png" width="30" ></a><a href="https://github.com/kauebr/"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="30" ></a>

<HR>

> Curitiba 2022

> Em Criação... 

// rascunho
quem proibiu as armas no brasil:

# Desarmamento Brasil

<h2 id="1">1. Contexto</h2>

Após séculos de livre circulação de armas desde o Brasil colônia, `na década de 90`(Governo Fernando Henrique Cardoso) `o Brasil já tinha sua própria indústria bélica`, em 1991 o [projeto de lei 2246](https://www.camara.leg.br/proposicoesWeb/fichadetramitacao?idProposicao=201408) de `autoriade Eduardo Jorge(PT-SP)` visava limitar a circulução de armas no território nacional, através da proibição do porte de armas em território nacional, exceto algumas exceções como as forças armadas. No dia 23 de
outubro de `2005(Governo Lula)`, o povo brasileiro foi chamado às urnas, através de um [referendo popular](https://www.youtube.com/watch?v=6sGADvxsEIY), a população foi convidada à dar sua opinião sobre a proibição do comércio de armas de fogo e munições no país, aonde a `maioria(63%) votou a favor do comércio de armas`, apesar da decisão popular favorável ao comercio, o governo de `esquerda` realizou alteração no art. 35 do estatuto do desarmamento (Lei nº 10.826/2003) e `tornou proibida a comercialização de armas de fogo` e munição em todo o território nacional, salvo para as entidades previstas no art. 6º do estatuto. `Comprar e portar armas no Brasil por meios legais ficou praticamente impossível`. Em 5 anos, de 2008 até 2012, a polícia federal autorizou a compra de apenas 3.336 armas por civis em todo o país, a população estimada do Brasil era na época de 194 mi. de habitantes. Em 2014 a campanha de desarmamento já havia recolhido quase 650 mil armas de circulação.
Em `2018` O militar reformado `Jair Bolsonaro foi eleito` o 38.º presidente do Brasil com 55,13% dos votos válidos, no segundo turno das eleições presidenciais, um das principais `prioridades de sua campanha`, foi a `liberação do comércio de armas`, sendo inclusive `seu símbolo de campanha uma "arminha"` com a mão. Eleito a Bolsonaro publicou mais de 30 decretos e atos normativos desde janeiro de `2019` para facilitar o `acesso às armas`. Embora muitos ainda estejam judicializados, pois os processos enfrentaram [resistência no senado](https://www12.senado.leg.br/noticias/materias/2022/2021/07/23/decretos-pro-armas-de-bolsonaro-enfrentam-resistencia-no-senado), a intenção de aumentar o `acesso ao armamento` ao cidadão comum foi atingida.

Neste contexto, vale ressaltar, que durante o advento das redes sociais, houve uma `polarização política, esquerda x direita`, no Brasil, aonde a população elegeu um lado e vimos surgir muitos discursos de ódio, tanto da direita pela esquerda quanto da esquerda pela direita. Esta polarização tornou muito rara uma `visão analítica de cenários`, sendo comum ante a realidade dos fatos ser posto um discurso polarizado de ódio, em que apenas se discorda do outro lado, sem uma análise real dos fatos e consequências em si. Este estudo é uma análise imparcial, `vamos nos basear em dados`, para que cheguemos a uma `resposta dos impactos das políticas armamentistas durante os anos`, e que sejam gerados insights e informações valiosas para auxiliar a tomada de decisões futuras, prevendo as tendências e consequências de cada política, analiticamente, `sem que se defenda um partido ou um viés político`.

Nesse contexto este estudo deseja analisar com base em dados qual foi o impacto da rigidez e do afrouxamento nas políticas
de desarmamento do Brasil em relação à violência por armas de fogo.

<h1>Índice</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href=#1>Contexto</a></li>
        <li><a href=#2>Objetivo Geral</a></li>
        <li><a href=#3>Objetivos Específicos</a></li>
        <li><a href=#4>Mineração de dados</a></li>
    </ol>
</div>
<br>
<hr>

<h2 id="2">2. Objetivo Geral</h2>

* Elaborar uma análise, sem viés político, sobre os impactos das políticas armamentistas no Brasil, desde a década de 90 até os dias até os dias de hoje. Gerando assim informações valiosas para a gestão pública se amparar na tomada de decisões futuras.
`Deste modo espera-se gerar insights que vão auxiliar o país na diminuição da violência por armas de fogo`
<hr>

<h2 id="3">3. Objetivos Específicos</h2>

* Minerar dados de fontes diversas para crianção de um conjunto de dados que dará origem ao nosso DataFrame;
* Modelar os dados;
* Analisar os dados;
* Plotar apresentações gráficas e descritivas dos indicadores e insights para facilitar o entendimento; 
* Criar apresentação das informações em ferramenta externa (PowerBi ou Tableau)
* Divulgar o estudo, de forma automática para os e-mails dos gabinetes de todos os deputados federais e senadores do Brasil.
* Publicar em meios da comunicação - divulgar os resultados para a sociedade.
<hr>

<h2 id="2">4. Mineração de Dados</h2>

* Nesta fase vamos trazer dados potencialmente pertinentes à nossa análise
* Posteriormente vamos organiza-los

Importando as bibliotecas pertinentes

In [1]:
import pandas as pd
import plotly.express as px
%matplotlib inline

## Primeira Base de dados  [Atlas da Violência do IPEA](https://www.ipea.gov.br/atlasviolencia/)
* O Atlas da Violência é um portal que reúne, organiza e disponibiliza informações sobre violência no Brasil, bem como reúne publicações do Ipea sobre violência e segurança pública. Foi criado em 2016 e é gerido pelo Instituto de Pesquisa Econômica Aplicada (Ipea) com a colaboração do Fórum Brasileiro de Segurança Pública (FBSP).

> Taxa de óbitos por armas de fogo a cada 100 mil habitantes Brasil 1989~2019

In [7]:
df_obt_BR = pd.read_csv('taxa-de-homicidios-por-armas-de-fogo-BR.csv', sep=';')
display(df_obt_BR)

     cod nome  período  valor
0   1076  BRA     1989   9.51
1   1076  BRA     1990  11.51
2   1076  BRA     1991  10.73
3   1076  BRA     1992   9.94
4   1076  BRA     1993  11.22
5   1076  BRA     1994  12.29
6   1076  BRA     1995  14.32
7   1076  BRA     1996  14.63
8   1076  BRA     1997  15.31
9   1076  BRA     1998  15.87
10  1076  BRA     1999  16.41
11  1076  BRA     2000  18.58
12  1076  BRA     2001  19.38
13  1076  BRA     2002  19.56
14  1076  BRA     2003  20.42
15  1076  BRA     2004  18.83
16  1076  BRA     2005  18.14
17  1076  BRA     2006  18.70
18  1076  BRA     2007  18.56
19  1076  BRA     2008  18.82
20  1076  BRA     2009  19.12
21  1076  BRA     2010  19.29
22  1076  BRA     2011  19.10
23  1076  BRA     2012  20.66
24  1076  BRA     2013  20.08
25  1076  BRA     2014  21.08
26  1076  BRA     2015  20.45
27  1076  BRA     2016  21.58
28  1076  BRA     2017  22.88
29  1076  BRA     2018  19.75
30  1076  BRA     2019  14.67

<hr>
RASCUNHO:



* Tem que entrar aqui também numero de portes de armas
* Numero de feminicidios
* Numero de assaltos a mao armada
* Base de dados da policia federal boa com registro de armas de fogo e ocorrencias
https://servicos.dpf.gov.br/dadosabertos/SINARM/

1ª Base de dados https://www.ipea.gov.br/atlasviolencia/filtros-series (Atlas da Violência)
Séria que retrata quantidade de homicídios por arma de fogos ano-a-ano no Brasil.
-> Nome do arquivo 'homicidios-por-armas-de-fogo.csv'
-> A série tinha dados apenas até 2019 , os dados foram complementados com estas fontes:
https://www.bbc.com/portuguese/brasil-57844477#:~:text=Aumento%20de%20homic%C3%ADdios,provocados%20por%20armas%20de%20fogo.
https://g1.globo.com/monitor-da-violencia/noticia/2022/02/21/numero-de-assassinatos-cai-7percent-no-brasil-em-2021-e-e-o-menor-da-serie-historica.ghtml

In [1]:
# Importando bibliotecas e configurando gráficos
import pandas as pd
import plotly.express as px
%matplotlib inline

In [2]:
# Criando DataFrames
df_mortes = pd.read_csv('homicidios-por-armas-de-fogo.csv', sep=';', encoding='utf8', usecols=[2, 3])
display(df_mortes)

    período  valor
0      1989  13480
1      1990  16588
2      1991  15759
3      1992  14785
4      1993  17002
5      1994  18889
6      1995  22306
7      1996  22976
8      1997  24445
9      1998  25674
10     1999  26902
11     2000  30865
12     2001  33401
13     2002  34160
14     2003  36115
15     2004  34187
16     2005  33419
17     2006  34921
18     2007  34147
19     2008  35676
20     2009  36624
21     2010  36792
22     2011  36737
23     2012  40077
24     2013  40369
25     2014  42755
26     2015  41817
27     2016  44475
28     2017  47510
29     2018  41179
30     2019  41635
31     2020     ca
32     2021  41069

In [3]:
# Cálculando a evolução populacional brasileira ano-a-ano
# Fontes IBGE dados populacionais nos anos de  80, 91 , 96 e 2010, quando ocorreram SENSOS
# https://brasilemsintese.ibge.gov.br/populacao/populacao-total-1980-2010.html
# Fonte Banco mundial / United Nations Population Division https://data.worldbank.org/country/brazil
# Fonte Population Pyramid https://www.populationpyramid.net/pt/brasil/2022/
# No final foram descartadas as médias oscilantes e consideradas apenas a da Population Pyramid para maior acuracidade

# Puxando DataFrame que geramos no Excel com as médias das 3 fontes.
df_pop = pd.read_excel('populacaobrasileira.xlsx')

# Setando precisão de cálculo para 2 casa flutuantes
pd.set_option('display.precision', 2)
display(df_pop)

     Ano  Pyramid Population  Milhoes
0   1989           146328305   146.33
1   1990           149003224   149.00
2   1991           151648007   151.65
3   1992           154259382   154.26
4   1993           156849086   156.85
5   1994           159432717   159.43
6   1995           162019888   162.02
7   1996           164614681   164.61
8   1997           167209045   167.21
9   1998           169785253   169.79
10  1999           172318674   172.32
11  2000           174790338   174.79
12  2001           177196050   177.20
13  2002           179537522   179.54
14  2003           181809243   181.81
15  2004           184006479   184.01
16  2005           186127107   186.13
17  2006           188167353   188.17
18  2007           190130444   190.13
19  2008           192030361   192.03
20  2009           193886505   193.89
21  2010           195713637   195.71
22  2011           197514540   197.51
23  2012           199287292   199.29
24  2013           201035903   201.04
25  2014           202763744   202.76
26  2015           204471759   204.47
27  2016           206163055   206.16
28  2017           207833824   207.83
29  2018           209469320   209.47
30  2019           211049518   211.05
31  2020           212559409   212.56
32  2021           213993441   213.99
33  2022           215353588   215.35

In [4]:
# Adcionando coluna referente a população em milhões no DataFrame de mortes por arma de fogo 
df_mortes = df_mortes.assign(pop_mi=0)
df_mortes['pop_mi'] = df_pop['Milhoes'].copy()
display(df_mortes)

# o Ano de 2019 estava distoante da série, possivelmente foi fraudado pelo governo, ao buscar outras fontes
# corrigi o valor correto 
# fonte https://www.poder360.com.br/brasil/numero-de-assassinatos-no-brasil-cai-19-em-2019-no-total-sao-41-635-mortes/#:~:text=O%20n%C3%BAmero%20de%20assassinatos%20no,2018%20%E2%80%93quase%2010.000%20a%20menos.
# fonte https://noticias.uol.com.br/confere/ultimas-noticias/2021/10/07/governo-federal-distorce-dados-sobre-violencia-para-defender-acesso-a-armas.htm

    período  valor  pop_mi
0      1989  13480  146.33
1      1990  16588  149.00
2      1991  15759  151.65
3      1992  14785  154.26
4      1993  17002  156.85
5      1994  18889  159.43
6      1995  22306  162.02
7      1996  22976  164.61
8      1997  24445  167.21
9      1998  25674  169.79
10     1999  26902  172.32
11     2000  30865  174.79
12     2001  33401  177.20
13     2002  34160  179.54
14     2003  36115  181.81
15     2004  34187  184.01
16     2005  33419  186.13
17     2006  34921  188.17
18     2007  34147  190.13
19     2008  35676  192.03
20     2009  36624  193.89
21     2010  36792  195.71
22     2011  36737  197.51
23     2012  40077  199.29
24     2013  40369  201.04
25     2014  42755  202.76
26     2015  41817  204.47
27     2016  44475  206.16
28     2017  47510  207.83
29     2018  41179  209.47
30     2019  41635  211.05
31     2020     ca  212.56
32     2021  41069  213.99

In [6]:
# Cálculando indíce dividindo numero de mortes por arma de fogo pela população no ano
df_mortes = df_mortes.assign(indice=0)
c = 0
for indice in df_mortes['indice']:
    val = ((df_mortes['valor'][c]) / (df_mortes['pop_mi'][c]))
    df_mortes['indice'][c] = val
    c += 1
display(df_mortes)

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

# Com base neste indice vamos cálcular o aumento ou diminuição nos homicidíos por arma de fogo em relação a populção geral no ano

In [7]:
# Arrumando títulos do DataFrame
df_mortes.columns=['Ano', 'Mortes', 'Pop_mi', 'Indice']
df_mortes.head(1)

    Ano Mortes  Pop_mi  Indice
0  1989  13480  146.33       0

In [ ]:
import plotly.express as px
gf = px.line(df_mortes, x= 'Ano', y='Indice', title='Indice de mortes por arma de fogo ano-a-ano Brasil 1998 - 2019')
display(gf)